body {
  font-family: Fira Code;
  background-color: $body-bg;
  color: $body-color;
}

.ideal.active {
  background-color: rgba(40, 167, 69, 1) !important;
  color: $body-color;
  padding: 20px;
  border: rgba(40, 167, 69, 1) !important;
}
.ideal {
  background-color: rgba(40, 167, 69, 0.6);
  color: $body-color !important;
  border: rgba(40, 167, 69, 0.6) !important;
}

.pain.active {
  background-color: rgba(220, 53, 69, 1) !important;
  color: $body-color;
  padding: 20px;
  border: rgba(220, 53, 69, 1) !important;
}
.pain {
  background-color: rgba(220, 53, 69, 0.6);
  color: $body-color;
  border: rgba(220, 53, 69, 0.6);
}

.warn.active {
  background-color: rgb(255, 193, 8) !important;
  color: $body-bg;
  padding: 20px;
  border: rgb(255, 193, 8) !important;
}
.warn {
  background-color: rgba(255, 193, 8, 0.6);
  color: $body-bg;
  border: rgba(255, 193, 8, 0.6);
}

.sed.active {
  background-color: rgba(92, 92, 92, 1);
  color: $body-color;
  padding: 20px;
  border: rgb(92, 92, 92);
}
.sed {
  background-color: rgba(92, 92, 92, 0.6);
  color: $body-color;
  border: rgba(92, 92, 92, 0.6);
}

.airway.active {
  background-color: rgb(100, 100, 100);
  color: $body-color;
  padding: 20px;
  border: rgb(100, 100, 100);
}
.airway {
  background-color: rgba(100, 100, 100, 0.6);
  color: $body-color;
  border: rgba(100, 100, 100, 0.6);
}

.inputBox {
  background-color: $body-bg;
  color: $body-color;
  text-align: center;
}

nav {
  padding: 20px;
}
